body{
  margin-right: 10%;
  margin-left: 10%;
  background-image: url(/saas-project-assets/backgrounds/background-top.svg);
  background-repeat: no-repeat;
  background-size:100% 9.5%;
  background-color:white;
}
a{
  text-decoration: none;
  color: black;
}
.top,.top-left,.top-right, .righthand{
  display: flex;
  width: 100%;
  gap:10px;
}
.head{
  display: flex;
  width: 100%;
}
.lefthand{
  width: 100%;
  margin-top: 20px;
}
.lefthand img{
  width: 30%;
}
.top-right,.righthand{
  gap:10px;
  justify-content: right;
}
.righthand :nth-child(1), .freedom :nth-child(4),.card :nth-child(4){
  color: blue;
}
.righthand :nth-child(6),.freedom :nth-child(3),.learn a, .price-card-bottom a{
  background-color:rgb(34, 109, 250);
  padding: 10px 13px;
  border-radius: 20px;
  color: white;
}
.righthand{
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.first-section{
  display: flex;
}
.freedom h1{
  font-size: 45px;
  margin-bottom: -10px;
}
.freedom p{
  margin-bottom: 40px;
}
.freedom{
  width: 80%;
}
.freedom a{
  margin-right: 10px;
}
.freedom a div{
  display: flex;
}
.logos div{
  width: 20%; 
  background-color: white;
  border-radius: 100%;
  position: relative;
  left:25;
  box-shadow: 10px 10px 10px 10px rgba(240, 240, 240, 0.5);
  text-align: center;
}
.logos img{
  width: 50%;
  padding: 15px;
}
.logos :nth-child(2){
  top:15%;
}
.logos :nth-child(3){
  top:20%;
  left:20%
}
.logos :nth-child(4){
  left:30%;
  bottom: 42%;
}
.logos :nth-child(5){
  left:40%;
  bottom: 27%;
}
.logos :nth-child(6){
  left:70%;
  bottom: 70%;
}
.logos :nth-child(7){
  left:60%;
  bottom: 30%;
}
.heading,.footer2-bottom{
  text-align: center;
}
.cards{
  display: flex;
  gap: 30px;
  margin-bottom: 60px;
}
.card{
  background-color: white;
  box-shadow:10px 10px 10px 10px rgba(240, 240, 240, 0.5);
  width: 50%;
  border-radius: 5%;
  padding-left: 10px;
}
.card img{
  width: 30%;
}
.card div{
  display: flex;
  margin-bottom: -17px;
  align-items: center;
  gap: 10px;
}
.card div a{
  color: white;
  background-color: gray;
  padding: 5px;
  border-radius: 20px;
}
.learn{
  background-color:aliceblue;
  display: flex;
  width: 100%;
  padding: 110px 0px 0px 30px;
}
.left{
  width: 90%;
}
.right{
  width: 70%;
}
.right img{
  width: 100%;
  box-shadow:0px 0px 10px 0px rgb(197, 196, 196); ;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 18%;
  margin-right: 18%;
}
.why img{
  position: relative;
  left: 20%;
  width: 70%;
}
.dots{
  display:flex;
  gap:40px;
  margin-left: 15%;
}
.video img{
  width: 100%;
}
.person{
  width: 100%;
}
.people{
  margin: px;
  flex-direction: row;
}
.people,.hubs{
  display: flex;
  gap:30px;
}
.person img{
  width: 80%;
  height: 90%
}
.hubs{
  flex-direction: column;
  width: 70%;
}
.hubs p{
  position: relative;
  bottom: 10%;
}
.trust{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}
.trust h1{
  text-align: center;
}
.trust-img{
  display: flex;
  gap: 90px;
  width: 100%;
  justify-content: center;
}
.trust img{
  width: 10%;
}
.price{
  margin-top: 100px;
}
.price-head{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price-body{
  display:grid;
  gap: 40px;
  grid-template-rows:5 ;
  grid-template-columns: 5;
  margin-bottom: 100px;
  height: 0%;
}
.price-card{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:1 ;
  grid-row-end:5 ;
  background-color: white;
  padding: 20px;
  width: 100%;
  box-shadow: 5px 5px 5px 5px lightgray;
  height: 75%;
}
.price-h1{
  display: flex;
  align-items:center;
}
.price-h1 h1{
  font-size: 50px;
}
.price-card :nth-child(6){
  margin: 10px;
}
.b1,.b2{
  grid-row-start:1;
  grid-row-end: 2;
}
.b3,.b4{
  grid-row-start: 2;
  grid-row-end:3 ;
}
.benefit{
  width: 70%;
  padding: 10px;
}
.benefit img{
  width: 30%;
}
.hireus{
  display: flex;
  gap: 50px;
  background-image: url(/saas-project-assets/abstract/hire-us-transparent-pattern-bg.svg);
  background-color: darkblue;
  padding: 20px;
  margin-left: -9%;
  margin-right: -9%;
  margin-bottom: 15%;
}
.hireus-left{
  color: white;
  margin-left: 10%;
  width: 55%;
  margin-top: 5%;
  margin-right: 5%;
}
.i{
  display: flex;
  width: 10%;
  align-items: center;
}
.i img{
  border-radius: 100%;
  width: 150%;
}
.i :nth-child(1),.i :nth-child(3){
  width: 100%;
  height: 100%;
}
.forms{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-right: 10%;
}
input, select,textarea{
 width: 35.6%;
 padding: 10px;
 border-radius: 5px;
 margin: 10px;
}
select{
  width: 41%;
}
textarea{
  width: 82%;
}
.confirm{
  display: flex;
  align-items: start;
}
.confirm input{
  width:40px;
  position: relative;
  top: 10px;
}
.confirm p a{
  text-decoration: underline;
  color: blue;
}
.started{
  width: 90%;
  padding: 10px;
  background-color: blue;
  text-align: center;
}
.started a{
  color: white;
}
.footer-one{
  gap:50px
}
.footer-one .info img{
  width: 50%;
}
.footer-one, .company, .Features, .documentation, .resources, .info,.resources div{
  display: flex;
}
.company, .Features, .documentation, .resources, .info{
  flex-direction: column;
}
.company, .Features, .documentation, .resources{
  gap: 20px;
}
.footer2-right{
  position: relative;
  bottom: 18px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.footer2-social{
  display: flex;
}
.flag img{
  width: 80%;
}
.flag{
  position: relative;
  left: 35px;
}
.footer2-right select{
  width: 95%;
  background-color: lightgray;
  text-align: right;
}
@media (max-width:767px){
  body{
    background-size: 100% 5.5%;
  }
  .first-section{
    display: flex;
    flex-direction: column;
  }
  .freedom{
    margin-bottom:30px;
  }
  .logos :nth-child(2){
    top: 72px;
  }
  .logos :nth-child(3){
    top:75px;
  }
  .logos :nth-child(4),.logos :nth-child(5){
    bottom:270px;
  }
  .logos :nth-child(6){
    bottom: 450px;
  }
  .logos :nth-child(7){
    bottom: 250px;
  }
  .heading{
    margin-right: 24%;
    margin-left: 25%;
  }
  .cards{
    flex-direction: column;
    align-items: center;
  }
  .card{
    width: 100%;
  }
  .learn{
    flex-direction: column;
    align-items: center;
  }
  .left{
    text-align: center;
    width: 60%;
    margin-bottom: 30px;
    margin-top: -50px;
  }
  .right{
    width: 100%;
  }
  .dots{
    flex-direction: column;
  }
  .why img{
    rotate: 90deg;
    top:190px;
    position: relative;
    left: 10%;
    width: 56%;
  }
  .dots{
    position: relative;
    left:30%;
  }
  .people,.person img{
    flex-direction: column;
    width: 100%;
  }
  .hubs{
    margin: 0 20% 20%;
    text-align: center;
  }
  .trust-img{
    flex-direction: column;
    align-items: center;
  }
  .trust-img img{
    width: 20%;
  }
  .price-body{
    display: flex;
    flex-direction: column;
  }
  .price-h1, .price-card-bottom{
    text-align: center;
    justify-content: center;
  }
  .hireus{
    flex-direction: column;
  }
  .hireus-left{
    text-align: center;
    margin-left: 20%;
  }
  .i{
    justify-content: center;
    margin-left:40%;
    gap:30px
  }
  .forms{
    justify-content: center;
    width: 95%;
  }
  .forms input,.forms textarea{
    width: 90%;
  }
  .forms select{
    width: 94%;
  }
  .confirm input{
    width: 8%;
  }
  .footer-one,.info, .company,.Features,.documentation,.resources{
    flex-direction: column;
    align-items: center;
  }
  .footer2-right{
    flex-direction: column;
  }
  .footer2-left,.footer2-right{
    text-align: center;
    justify-content: center;
  }
  .footer2-social{
    margin-top: 40px;
    gap:20px
  }
  .flag{
    top:40px;
    left:-50px;
  } 
}